html, body {
	min-height: 100%;
	max-width: 100%;
	margin: 0; padding: 0;

	@include breakpoint($breakpoint-small) { max-width: 100%; overflow-x: hidden; }
}

html{
	&.overlay-active{ 
		max-height: 100vh;
		overflow: hidden;
	}
}

body{

	@include breakpoint($breakpoint-medium) {
		display: flex;
		flex-direction: column;

		.header, .hero, .footer{ flex-grow: 0; flex-shrink: 0; max-width: 100%; }
		.wrapper{ flex-grow: 1; }
	}

	.boxed &{ 
		@extend %box-shadow;
		margin: 0 auto; 
	}

	img{ max-width: 100%; }
	
}

.wrapper{
	@extend %clear;
	&.main--has-sidebar{
		@include breakpoint($breakpoint-medium) { 
			max-width: $grid-max-width;
			margin: 0 auto;
		}
	}

	.header--fixed + &{ margin-top: 8em; padding-top: 2em; border-top: 1px solid $light-gray; }
}

.main{
	&.main--has-sidebar{
		@include breakpoint($breakpoint-medium) { float: left; width: susy-span(9 of 12); }
	}
}

.sidebar{
	
	padding: 0 1em;
	margin-top: 4em;

	@include breakpoint($breakpoint-medium) { 
		margin-top: 0;
		width: susy-span(3 of 12);
		padding-top: 10em;
		top: -1px;
		float: right;
	}
}

.search__results{
	@extend %list-reset;
}

.layout{
	& + &{ margin-top: 1.5rem; } 
}

.flex__text{
	width: 100%;

	.section--colored &,
	.section--colored & h1,
	.section--colored & h2,
	.section--colored & h3,
	.section--colored & h4,
	.section--colored & h5,
	.section--colored & h6{ color: #fff; }
}

.menu .current-menu-item > a{ font-weight: 700; }