.openinghours{
	width: 100%;
}
.openinghours__entry{
	width: 100%;

	@include breakpoint($breakpoint-small) { 
		& + &{ margin-top: 0.75rem; } 
	}

	@include breakpoint($breakpoint-small-medium) {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
	}	

	span{
		flex-basis: calc(100% / 3);
	}
}

.openinghours__weekday{ 
	font-weight: bold;
	display: block;
	flex-basis: 50%;
	flex-shrink: 0;
	@include breakpoint($breakpoint-small-medium) { margin-right: 0.5rem; }
}

.openinghours__spacer{
	flex-basis: 1em;
	flex-grow: 0;
}
