.header{
	@extend %transition;
	width: 100%;
	position: relative;
	z-index: 10;
	border-bottom: 1px solid $light-gray;

	&.subnavi--active{ border-bottom: 0px solid rgba(0,0,0,0); }

	.spacer{ display: none; }
}

.header--fixed{
	@extend %z-layer-ui;
	position: fixed;

	@include breakpoint($breakpoint-small) { padding-bottom: 46px; }

	:not(.boxed) &{ left: 0; }

	.boxed &{ 
		left: 50%;
    	transform: translateX(-50%);
	}

	.shop-bar.active + &{ margin-top: 44px; }
	.shop-bar.active + &.initial{ margin-top: 44px !important; }
}

.header--fixed-transparent{
	background-color: rgba(0,0,0,0);
	border-bottom: 1px solid rgba(0, 0, 0, 0);

	.menu__cta{ 
		border: 1px solid $white !important;
		background-color: rgba(0,0,0,0) !important; 
	}
	
	.page-template-produkte &,
	.tax-produktkategorie &,
	.produkte-template-default &,
	.woocommerce-page &{
		border-bottom: 1px solid $light-gray;
		.header__navigation{
			a, a:link, a:hover, a:visited, a:active{ color: $primary-color; }
		}
	}
}

.header--fixed-background{
	background-color: $white;
	border-bottom: 1px solid $light-gray;
}

.header--fixed-background{
	.shop-bar.active + &{ margin-top: 0 !important; }
}

.header--menu{}

.header__container{
	width: 100%;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	
	.header--reverse &{
		flex-direction: column-reverse;
	}

	.header--center &{
		display: block;
	}

	@include breakpoint($breakpoint-medium) { 
		flex-direction: row;
		.header--reverse &{	flex-direction: row-reverse; } 
	}

	padding: 0.75em;
}

.header__logo{
	
	width: 16em;

	img, svg{ max-width: 100%; }

	@include breakpoint($breakpoint-medium) { 
		
		.header--inline &{ 
			position: absolute;
  			top: 50%;
  			left: 50%;
  			transform: translate(-50%, -50%);
		} 
	}

	svg{ min-width: 16em; @extend %fleximage; }

	.header--center &{ margin: 0 auto; }
}

.header__search{

	margin: 0 0.75em;

	.search__form{
		height: 36px;
		line-height: 36px;
	}

	@include breakpoint($breakpoint-small) {
		order: 1;
	}
	
	@include breakpoint($breakpoint-medium) { 
		flex-shrink: 1;
		flex-grow: 1;
	}
}

.header__navigation{

	display: flex;

	.header--center &{
		justify-content: center;
		align-items: center;
	}

	a{ 
		display: inline-block;
		@include breakpoint($breakpoint-small) { padding: 0.25em; }
		&:link, &:hover, &:active, &:visited{ color: $primary-color; } 
	}
	
	.header--fixed-transparent &{
		a{ 
			&:link, &:hover, &:active, &:visited{ color: $white; } 
		}
		.menu__cta{ border-color: $white; }
	}

	.menu__cta{
		
		letter-spacing: 0.025em;

		@include breakpoint($breakpoint-small) { border: 1px solid $white; }
	
		@include breakpoint($breakpoint-medium) { 
			border: none; border-radius: 4px;
		}	   	
	
		@include breakpoint($breakpoint-small) {
			position: fixed !important;
			text-align: center;
			bottom: 0.75em;
			left: 0.75em;
			right: 0.75em;
			z-index: 999995;
		}	
	}

	.menu{ 
		display: flex;
		flex-wrap: wrap;
		@include breakpoint($breakpoint-medium) { flex-wrap: nowrap; }
		align-items: center;
		justify-content: space-evenly;

		.menu-item{ position: relative; }

		.badge{
			@extend %transition;
			background-color: $highlight-color-1;
			position: absolute; 
			top: -0.5rem; right: -0.5rem;
			font-size: 0.75em;
			color: $white;
			padding: 0 0.25em;
			line-height: 1.45;
		}

		.header--center &{
			padding: 0.5em 0; 
			justify-content: center; 
		}

		.header--inline &{ 
			padding: 1em 0;
			justify-content: center;

			.spacer{ display: none; }
			
			@include breakpoint($breakpoint-medium) {
				.menu-item{ 
					text-align: center;
					width: 16em;
					padding: 0.25em 0; 
					margin: 0 0.75em; 
				}			

				.spacer{ 
					display: block;
					width: 18em;
					text-align: center;
					pointer-events: none;
	  				cursor: default;
	  				opacity: 0;
				}
			}

		}
	}

	.dropdown{
			
		@include breakpoint($breakpoint-small-medium) {
			position: relative;
			&:after{ content: " ▾"; }
		
		
			&:hover{
				background-color: $white;

				&:after{ content: " ▴"; }

			}

			//&.current-menu-ancestor > .sub-menu,
			&:hover > .sub-menu{
				max-height: 9999px;
				height: auto;
				opacity: 1;
				right: 0;
			}
		}
		
		&.current-menu-ancestor > .sub-menu,
		&:hover > .sub-menu{ @extend %box-shadow; }

	}

	.current-menu-item, .current-page-parent{
		& > a{ font-weight: $font-weight-bold; }
	}
 
	.sub-menu{
		@extend %list-reset;
		position: absolute;
		z-index: 995;
		background-color: $white;
		width: auto;
		max-width: 350%;
		padding: 0.5em 0;
		opacity: 0;
		height: 0;
		overflow: hidden;

		.menu-item{
			padding: 0.25em 0.75em;
			&:hover{ background-color: #eee; }
			a{ display: inline-block; width: 100%; }
		}
	}

	.menu > .menu-item:not(.menu__cta){ padding: 0 1em; }
}

.sub-navi{
	@extend %list-reset;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border-top: 1px solid $light-gray;
	max-width: 100%;

	@include breakpoint($breakpoint-medium) { 
		display: none;	
	}

}

.sub-navi__item{
	padding: 0.5em 0.75em;
	&.current__item{ font-weight: $font-weight-bold; }
	a{ 
		&:link, &:hover, &:active, &:visited{ color: $primary-color; } 
	}
}