//@import "_typography/icomoon";

$primary-font: "Hind", sans-serif;
$secondary-font: $primary-font;
$monospace-font: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;

$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-normal: 300;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-ultra-bold: 900;