@charset "UTF-8";

%dropdown {

  .menu {
    @extend %transition;
  }

  @extend %z-layer-ui;
  font-weight: $font-weight-light;

  a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 1em;
  }

  .menu {
    display: block;

    @include breakpoint($breakpoint-medium) {
      display: table;
      table-layout: fixed;
      width: 100%;
      height: 100%;
    }
  }

  .menu-item-has-children {

    & > a::after {
      content: " ▼";
    }

    &.opened > a::after {
      content: " ▲";
    }

    @include breakpoint($breakpoint-medium) {

      > .sub-menu {
        display: none;
      }
      &:hover {
        > .sub-menu {
          display: block;
        }
      }

    }

  }

  .main-menu-item {
    position: relative;
    &:hover {
    }

    @include breakpoint($breakpoint-medium) {
      display: table-cell;
    }

  }

  .main-menu-link {
    color: green;
    &:hover {
      color: yellow;
    }
  }

  .sub-menu {

    padding-left: 1em;

    @include breakpoint($breakpoint-medium) {

      position: absolute;
      top: 0;
      left: 100%;
      padding-left: 0;
    }

  }

  .sub-menu-item {

    @include breakpoint($breakpoint-medium) {
      display: block;
      position: relative;
    }

  }

  .sub-menu-link {
  }

  .menu-depth-1 {
    @extend %box-shadow;
    background-color: red;

    @include breakpoint($breakpoint-medium) {
      top: 100%;
      left: 0;
    }

    .sub-menu-item {
      &:hover {
        background-color: magenta;
      }
    }
    .sub-menu-link {
      color: purple;
      &:hover {
        color: orange;
      }
    }
  }

  .menu-depth-2 {
    @extend %box-shadow;
    background-color: cyan;

    .sub-menu-item {
    }
    .sub-menu-link {
      &:hover {
      }
    }
  }

  .menu-depth-3 {
    @extend %box-shadow;
    background-color: pink;

    .sub-menu-item {
    }
    .sub-menu-link {
      &:hover {
      }
    }
  }

  //show certain links only on mobile
  .menu-link-mobile {
    display: none;
    @include breakpoint($breakpoint-small) {
      display: block;
    }
  }

}