fieldset{
	display: block;
	max-width: 100%;
	white-space: pre-line;
	padding: 2em 1em;
	&+&{ margin-top: 1.5em; }
	hr{ margin: 1.5em 0; border-top: 1px solid #eee; }
}

input, select, textarea, button{
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;

	display: inline-flex;
	
	border: 1px solid lighten($dark-gray, 15%);
	border-radius: 0;
	
	.grid-item &{
		width: 100%;
		max-width: 100%;
	}

}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="number"],
select,
option{
	height: 36px;
	line-height: 36px;	
}

input[type="file"]{ border: none; }

input[type="button"], 
input[type="reset"], 
input[type="submit"]{
	@extend .btn;
}

label{
	font-size: 0.75em;
	font-weight: $font-weight-bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select{
	padding: 0 0.25em;
	
	width: 100%;
	max-width: 100%;

	@include breakpoint($breakpoint-medium) { width: 24em; }
}