//normal links
::-moz-selection{ 
	background: $primary-color; 
	color:$white; 
	text-shadow: none; 
}
::selection{ 
	background:$primary-color; 
	color:$white; 
	text-shadow: none;
}

a{
	
	@extend %link-reset;
	@extend %transition;
	
	color: inherit;

	p &:not(.btn){
		
		border-bottom: 1px solid $highlight-color-1;

		&:link, &:hover, &:active, &:visited{ 
			text-decoration: none;
		}

	}
			
}

//navigation links
nav a{
	text-decoration: none;
	white-space: nowrap;

	&:link, &:hover, &:active, &:visited{ 
		text-decoration: none;
	}
}

.sidebar a{ 
	@extend %link-reset;
	@extend %transition;
	color: $highlight-color-1;
}