
.tabs{}

.tabs-nav,
.tabs-entries{ 
	position: relative;
}

.tabs-nav{
	@extend %clear;
	z-index: 2;
}

.tabs-nav-entries{
	@extend %reset;
		
	text-align: center;
	padding: 0;

	@include breakpoint($breakpoint-sm) {
		display: table;
		table-layout: fixed;
		width: 100%;
	}
	
	@include breakpoint($breakpoint-medium) {
		&:before, &:after {
	        content: "\0020";
	        display: block;
	        height: 0;
	        overflow: hidden;
	    }

	    &:after { clear: both; }
	}
}

.tabs-nav-entry{
	display: block;
	position: relative;

	padding: 0.75em 1.25em;
	border: 1px solid $light-gray;
	background-color: $light-gray;
	cursor: pointer;
	
	@include breakpoint($breakpoint-small) { 
		& + &{ margin-top: -1px; }
	}

	@include breakpoint($breakpoint-sm) {
		display: table-cell;
		& + &{ border-left: 0; }
	}

	@include breakpoint($breakpoint-medium) {
		float: left; 
		& + &{ margin-left: -1px; }
	}

	&:hover{ background-color: lighten( $light-gray, 3.25%); }

	&.tab--active{
		background-color: $white;
		border-bottom: 1px solid $white;
		font-weight: $font-weight-bold;
		color: $highlight-color-1;
		
	}
}

.tabs-entries{
	@extend %reset;
	position: relative;
	z-index: 1;
	margin-top: -2px;
	border: 1px solid $light-gray;
	padding: 1em 0.75em;

	background-color: $white;
}

.tab-entry{
	.js &{ display: none; }
	.js &.tab--active{ display: block; }
}