.table__wrapper{ 
	@extend %hide-scrollbars;

	position: relative;
	max-width: 100%;
	overflow-x: auto;

}

table{
	width: 100%;
	min-width: 100%;
	@include breakpoint($breakpoint-small) { white-space: nowrap; }
}

thead{}

th, td{ 
	@include breakpoint($breakpoint-small) { width: 25%; }
	padding: 0 0.25em; 
}

th{}

tbody{
	overflow-x: scroll;
}

tr{
	&:nth-child(even){ background-color: #eee; }
	height: 3.25em;
	height: 2.5em; 
}

td{}